.form {
  max-width: 340px;
  margin: 20px auto;
  border-radius: 10px;
  background: #919191;
}

.header {
  background: #8425E3;
}

h1 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}

input {
  max-width: 239px;
  width: 100%;
  padding: 10px 50px;
  margin: 30px 0;
  background: #B5B5B5 url('../img/icon.png') no-repeat 1% 60%;
  border: none;
  border-top: 1px solid #000000;
}

