* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
header {
  background-color: #fafafa;
  padding-top: 19px;
  padding-left: 13px;
  height: 103px;
}
#logo {
  width: 120px;
  height: 44px;
  padding-right: 15px;
  padding-top: 5px;
}
#search {
  width: 490px;
  height: 43px;
  position: absolute;
  outline: none;
  border-radius: 2px;
  padding-left: 18px;
  font-size: 16px;
  border: 1px solid #E6E6E6;
  box-shadow: 0.5px 1px 0 rgb(170,170,170);
}
#line-search:hover #search{
  box-shadow: -0.3px 2.9px 0 rgb(200,200,200);
}
#line-search:hover #search-tools{
  box-shadow: 1.3px 2.9px 0 rgb(200,200,200);
}
#search-tools {
  width: 143px;
  height: 43px;
  margin-left: 490px;
  background-color: #fff;
  position: absolute;
  border: 1px solid #E6E6E6;
  border-left: 0;
  border-radius: 2px;
  box-shadow: 0.5px 1px 0 rgb(170,170,170);
}
#submit-query {
  border: 0;
}
#img-submit {
  position: absolute;
  top: 13px;
}
#keyboard-search-tool {
  margin: 17px 20px 17px 27px;
}
.other-search-tool{
  margin: 10px 15px 14px auto;
}
.other-search-tool:hover, #keyboard-search-tool:hover {
  cursor: pointer
}
nav{
  margin: 18px auto auto 125px;
}
nav a {
  color: #777777;
  text-decoration: none;
  margin-left: 28px;
  font-size: 13px;
}
nav a:hover {
  color: black;
}
#active-choice-all{
  font-weight: bold;
  color: #1A73E8;
  padding: 0 16px 12px;
  margin: auto -12px auto 10px;
  border-bottom: 3px solid #1A73E8;
}
#apps {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 15px auto auto 1055px;
  cursor: pointer
}
#task {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 12px auto auto 1100px;
}
#person {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin: 8px auto auto 1140px;
}
main {
  width: 600px;
  margin-left: 167px;
}
#amount-result {
  font-size: small;
  color: #808080;
  margin: 16px auto 30px auto;
}
.link-result {
  margin-bottom: 30px;
}
.title-link {
  font-size: 18px;
  color: #1a0dab;
  margin-bottom: 5px;
}
.title-link:hover {
  text-decoration: underline;
}
.value-link {
  font-size: 14px;
  color: #006621;
  margin-bottom: 5px;
}
.short-content {
  font-size: small;
  line-height: 1.5;
}
.require-q {
  color: #6a6a6a;
  font-weight: bold;
  margin-bottom: 10px;
}
.add-link li {
  color: #1a0dab;
  font-size: small;
  display: inline;
  margin-left: 1px;
}
.add-link li:hover {
  text-decoration: underline;
}
#addition {
  color: #222;
  font-size: 18px;
  margin: 45px auto 30px auto;
}
.additional-choice {
  list-style-type:none;
}
.additional-choice li,  .additional-choice li a{
  font-size: 14px;
  color: #1a0dab;
  margin-bottom: 10px;
}
.strong-word {
  font-weight: bold;
}
.additional-choice-two {
  margin: -104px auto auto 190px;
}
#pagination {
  margin: 25px auto auto 125px;
}
#pagination-link {
  margin-left: 157px;
}
#pagination-link li {
  color: #1a0dab;
  font-size: small;
  display: inline;
  margin-left: 8px;
}
#pagination-link li a:hover {
  text-decoration: underline;
}
ul #next-pagination-link {
  margin-left: 45px;
}
footer {
  background-color: #F2F2F2;
  font-size: 15px;
  color: rgba(0,0,0,.54);
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 35px;
}
#footer-info {
  margin-left: 147px;
}
.separator {
  border-right: solid #E4E4E4 1px;
  margin: auto 15px auto 15px;
}
.row-separator {
  margin: 10px;
  margin-left: -10000px;
   margin-right: -20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.about li{
  list-style-type: none;
  font-size: small;
  display: inline;
}
.about li a {
  color: #333;
}
#country {
  font-size: 15px;
}
ul #place {
  font-weight: bold;
  font-size: 14px;
}
#google-help {
  margin-left: 0;
}
.google-about li{
  margin-left: 30px;
}
