* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

.bg-green-midle {
  background: #a7dbd3;
}

.bg-green-dark {
  background: #008375;
}

.bg-green-light {
  background: #a7dbd3;
}

.bg-green-super-light {
  background: #d0ebe7;
}

.hidden {
  visibility: hidden;
}

/***********************NAV******************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 auto;
}

nav h1, nav h2 {
  display: none;
}

.brand {
  padding-right: 30px;
}

/**********************HEADER****************/

.picture {
  height: 690px;
  width: 894px;
  margin: 0 auto;
  padding-top: 30px;
}

/****************ARTICLE*********************/

article {
  max-width: 960px;
  margin: 0 auto;
}

article h2 {
  color: #5a5555;
  font-family: Rubik, sans-serif;
  font-size: 44px;
  font-weight: 700;
}

article span {
  font-weight: 400;
  font-size: 44px;
}

article p {
  color: #5a5555;
  font-family: Rubik, sans-serif;
  font-size: 33px;
  font-weight: 400;
  line-height: 45.52px;
}

/*******************FORM*********************/

form {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 59px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.form-header h3 {
  color: #a7dbd3;
  font-family: Rubik, sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-header a {
  color: #a7dbd3;
  font-family: Rubik, sans-serif;
  font-size: 29px;
  font-weight: 700;
}

form p{
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  font-size: 23px;
  font-weight: 400;
  margin-right: 200px;
}

.form-fields {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-fields-left, .form-fields-right {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

form input {
  flex-basis: 100%;
  height: 54px;
  background: #e3f3ef;
  margin-bottom: 16px;
  padding-left: 20px;
}

form input:focus {
  outline: none;
}

form .input-half-size {
  flex-basis: 48%;
}

input::placeholder {
  color: #76b9b2;
  font-family: Rubik, sans-serif;
  font-size: 19px;
  font-weight: 500;
}

form input.submit {
  flex-basis: 150px;
  height: 61px;
  color: #ffffff;
  font-family: Rubik, sans-serif;
  font-size: 23px;
  font-weight: 500;
  background-color: #68c2b6;
  border: none;
  margin-left: 320px;
}

/***************ORDERNOW***********/

.order-now {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.order-now h2 {
  color: #575756;
  font-family: Rubik, sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.order-now h3 {
  color: #575756;
  font-family: Rubik, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

h2.first {
  padding-left: 30px;
  margin-bottom: 90px;
}

h2.second {
  padding-left: 160px;
}

h3.first {
  padding-left: 85px;
}

h3.second {
  padding-left: 460px;
}

.img-breeze {
  position: absolute;
  top: 185px;
  z-index: 1;
}

.btn-order-now {
  display: block;
  width: 187px;
  height: 61px;
  text-align: center;
  padding-top: 16px;
  color: #ffffff;
  font-family: Rubik,sans-serif;
  font-size: 23px;
  font-weight: 500;
  background-color: #007f6c;
  border: none;
}

/************DOWNLOAD************/

.download {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.download h2 {
  color: #777373;
  font-family: Rubik, sans-serif;
  font-size: 33px;
  font-weight: 500;
}

.download-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.download-list div {
  position: relative;
}

.item3 {
  width: 195px;
  height: 254px;
  background: #ffffff;
  padding-top: 45px;
}

.download a {
  display: block;
  color: #515151;
  font-family: Rubik, sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 36px;
  cursor: pointer;
}

.link-img {
  position: relative;
  display: block;
}

.img-left {
  position: absolute;
  left: -30px;
  bottom: 60px;
}

.img-right {
  position: absolute;
  right: -30px;
  bottom: 60px;
  z-index: 0;
}

/****************FOOTER************/

footer {
  background: #515151;
  padding-top: 47px;
  padding-bottom: 29px;
}

footer p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #eef1f1;
}












