body {
  background-color: #d0ebe9;
  height: 1000px;
  margin-top: 100px;
  margin-left: 600px;
  position: absolute;
  display: inline-block;
}

.submit {
  width: 345px;
  height: 70px;
  background-color: #4d1e86;
  display: inline-block;
  border-radius: 20px 20px 0 0;
}

h1 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 23px;
  color: #ffffff;
  padding: 10px;
  position: relative;
  top: -12px;
}

.submit-1 {
  position: relative;
  top: -15px;
}

.submit-2 {
  border: 1px solid #000;
  padding: 5px 5px 5px 40px;
  height: 20px;
  position: relative;
  top: -110px;
  left: 53px;
}

input {
  background-color: #b6abab;
  position: relative;
}

button {
  position: relative;
  top: -102px;
  left: -70px;
  width: 1px;
  height: 1px;
}

.submit-4 {
  position: relative;
  top: -100px;
  left: -188px;
}

/* Новая форма */

.big {
  width: 676px;
  height: 366px;
  border: 15px solid rgba(141, 141, 141, 0.25);
  background-color: #709ad3;
  position: relative;
  margin-top: 100px;
  margin-left: -150px;
  display: inline-block;
}

h2 {
  width: 231px;
  height: 20px;
  color: #ffffff;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
}

h3 {
  width: 77px;
  height: 12px;
  color: #000000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  position: relative;
  top: 33px;
  left: -235px;
}

.small-1 {
  width: 253px;
  height: 32px;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  top: 20px;
}

h4 {
  width: 150px;
  height: 14px;
  color: #000000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  position: relative;
  top: 105px;
  left: -315px;
  z-index: 2;
}

.small-2 {
  width: 253px;
  height: 32px;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  top: 160px;
  left: -260px;
}

h5 {
  width: 91px;
  height: 12px;
  color: #000000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  position: relative;
  top: -160px;
  left: 2px;
}

.small-3 {
  width: 253px;
  height: 32px;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  top: -100px;
}

h6 {
  width: 139px;
  height: 12px;
  color: #000000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  position: relative;
  top: -300px;
  left: 207px;
}

.big-1 {
  width: 300px;
  height: 174px;
  background-color: #ffffff;
  position: relative;
  top: -20px;
  left: 40px;
}

p {
  height: 14px;
  color: #000000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  top: -33px;
  left: -198px;
  display: inline-block;

}

.box {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 70px;
  right: 564px;

}

.submit-a {
  width: 92px;
  height: 33px;
  border: 1px solid #506700;
  background-image: linear-gradient(to top, #abcb1c 0%, #e1fb17 100%);
  position: relative;
  top: 20px;
  left: 512px;

}