body {
    margin: 0 auto;
    max-width: 800px;
}

input {
    size: 30px;
}

select {
    width: 150px;
}

.age {
    max-width:50px;
}

.email {
    width: 240px;
}

.italic {
    font-style: italic;
}