body {
font: 11pt Tahoma, Helvetica, sans-serif; 
background: #e1dfb9; 
}

#container {
max-width: 936px; 
margin: 0 auto;
background: #f0f0f0; 
}

header {
font-size: 2 em; 
text-align: center; 
padding: 6px; 
background: #8fa09b; 
color: #ffe; 
}

header img {
margin: -4px;
float:left; 
}

nav {
width: 165px;
padding: 10px 25px;
float: left;
background: #cbc0b7;
}

article {
margin-left: 215px;
padding: 15px;
background: #fff;
}

footer {
background: #8fa09b; 
color: #fff; 
padding: 15px; 
clear: left; 
}

li {
padding: 5px;
}

img {
max-width:100%;
height:auto;
float: center;
}

p{
text-align: justify;
line-height: 1.5;
}

