body {
    font-weight: 200;
    color: #6B6B6B;
    font-family: Arial, Arial, sans-serif;
    line-height: 1.5;
}

.container{
    height: 120px;
    margin: -10px;
    background: #EAEAEA;
}

.google {
    margin: -10px 0 15px 15px;
    float: left;
}

.goole{
    margin: 20px 10px;
    padding: 10px;
    width: 610px;
    height: 20px;
    display: inline-block;
}

.icon{
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 650px;
}

.icon2 {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 50px;
}

img {
    padding: 0 5px;
}

.line1{
    display: inline-block;
    padding: 10px;
    color: #858585;
}

li:hover {
    color: #000000;
}

.tools:hover {
    border: 1px solid #9D9D9D;
    background: #F3F3F3;
}

.line {
    position: absolute;
    top: 55px;
    left: 90px;
}

article {
    width: 40%;
    margin: 0 500px 0 150px;
}

.link {
    color: #1A0DBE;
    font-size: 18px;
}

.link:hover, .link2:hover {
    text-decoration:underline;
}

.link2 {
    color: #1A0DBE;
    text-decoration: none;
}

a {
    color: #006621;
}

p {
    font-size: 13px;
}

table {
    margin-top: -15px;
}

table {
    border-spacing: 10px 5px;
    margin-left: -10px;
    font-size: 13px;
}

.blook {
    margin-top: 40px;
}

.blook1, .blook2 {
    display: inline-block;
}

.blook1 {
    margin-left: -40px;
}
li {
    list-style: none;
    font-size: 14px;
}

.fat {
    font-weight: bold;
}

.together {
    font-size: 20px;
    color: #000;
}

.footer1, .footer2{
    background: #D3D3D3;
    border: 1px solid #CACACA;
    margin: -10px;
    height: 50px;
 }
.footer1 {
    margin-top: 50px;
}

.list{
    padding-left: 140px;
}

.ua {
    padding-left: 150px;
}