body {
  font-weight: 200;
  color: #6B6B6B;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  width:100%;
  height: 120px;
  margin: -20px auto;
  background: #EAEAEA;
}

.google {
  margin: -10px 0 15px 15px;
  float: left;
}

.icon {
  padding: -15px;
  margin-left: -120px;
  margin-right: 10px;
}

button {
  border: none;
  background: none;
  padding: 20px 0;
}

.google-link {
   margin: 20px 10px;
   padding: 10px;
   width: 610px;
   height: 20px;
 }

.icon-right {
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 50px;
}

img {
  padding: 0 5px;
}

.line-list {
  display: inline-block;
  padding: 10px;
  color: #858585;
}

li:hover {
  color: #000000;
}

.tools:hover {
  border: 1px solid #9D9D9D;
  background: #F3F3F3;
}

.line {
  position: absolute;
  top: 55px;
  left: 90px;
}

article {
  width: 40%;
  margin: 0 500px 0 150px;
}

.search-result {
  color: #1A0DBE;
  font-size: 18px;
}

.search-result:hover, .search-element:hover {
  text-decoration:underline;
}

.search-element {
  color: #1A0DBE;
  text-decoration: none;
}

h2 {
  font-size: 13px;
  font-weight: inherit;
  margin-top: 30px;
}

a {
  color: #006621;
}

.line-list>a {
  color: #858585;
}
p {
  font-size: 13px;
}

table {
  border-spacing: 10px 5px;
  margin:-15px 0 0 -10px;
  font-size: 13px;
}

.block-help {
  margin-top: 40px;
}

.help-search {
  display: inline-block;
  margin:0 20px 0 -40px;
}

li {
  list-style: none;
  font-size: 14px;
}

.fat {
  font-weight: bold;
}

.looking-often {
  font-size: 20px;
}

.list{
  padding-left: 140px;
}

.footer-container {
  background: #EAEAEA;
  margin-top: 50px;
}

.footer-help {
  padding-left: 90px;
  height: 40px;
  border-top: 1px solid #858585;
}

.country{
  line-height: 40px;
  padding-left: 150px;
}

ul.footer-navigation li {
  display: inline;
  margin:10px 20px;
}

.pagination a {
  padding-left: 15px;
}



