body {
  font-size: 14px;
  font-weight: bolder;
}

.form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #E9E4CA;
}

.header {
  width: 600px;
  background-color: #9A4D05;
}

h1 {
  color: #ffffff;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 700;;
  padding: 10px 30px;
}

input {
  width: 245px;
  height: 30px;
  margin: 10px 0;
}

select {
  width: 260px;
  height: 35px;
  margin: 10px 0;
}

input, select {
  padding-left: 10px;
}

ul {
  width: 43%;
  display: inline-block;
  margin: 15px 30px;
  padding: 0;
}

.right-block {
  margin-left: 10px;
}

.left-block {
  margin-right: 10px;
}

li {
  list-style: none;
}

.text {
  color: #B8002F;
  margin-top: 10px;
}

textarea {
  width: 255px;
  height: 180px;
  margin-top: 10px;
  padding: 0;
}

.submit {
  max-width: 170px;
  border-radius: 15px;
  margin: 20px 45px;
  border: 1px solid #ffffff;
  background-image: linear-gradient(to top, #d2bdaa 0%, #ffffff 100%);
  color: #a24d00;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 22px;
}