.wrapper {
  height: 130px;
  margin: -5px;
  background: #ffffff;
  border: 2px solid silver;
}
img {
  padding: 0 2px;
}

.halloween {
  float: left;
  margin: 25px 0 25px 25px;
}

.search-engine {
  width: 710px;
  height: 25px;
  top: 40px;
  left: 200px;
  position: absolute;
  display: inline-block;
}

.image {
  display: inline-block;
  top: 43px;
  left: 820px;
  position: absolute;
}

.lateral-side {
  display: inline-block;
  top: 30px;
  left: 1450px;
  position: absolute;
}

.photo-photo {
  width: 26px;
  height: 26px;
}

.elementy {
  top: 82px;
  left: 190px;
  position: absolute;
  font-family: "Segoe UI", Arial, sans-serif;
}

a {
  color: #808080;
  padding: 2px;
  margin: 10px;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 180px;
  font-family: "Segoe UI", Arial, sans-serif;
}

h2 a {
  color: #00008b;
  margin: 0;
  font-family: Times, Times New Roman, serif;
  font-size: 22px;
}

.bottom-1 {
  border: 2px solid silver;
  height: 110px;
  margin: -5px;
  background: #dcdcdc;
}

h4 {
  margin-left: 180px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.bottom {
  margin-left: 167px;
}

.pages {
  height: 55px;
  width: 400px;
  margin: 10px 0 25px 300px;
  padding: 10px;

}

.google-search {
  margin-left: 340px;
}

.book {
  float: left;
  margin-right: 15px;
}

.books1 {
  float: left;
  margin-right: 15px;
}