a {
    color: #5f6368;
}

body {
    margin: 0;
    font-size: small;
    font-family: arial, sans-serif;
}

.bottom {
    border-bottom: 1px solid #e4e4e4;
}

.bottom-nav {
    margin-top: -2px;
    display: flex;
}

.bottom-nav ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 13px;
}

.bottom-nav ul li {
    display: inline-block;
    margin: 30px 16px 16px;
}

.bottom-nav ul li a {
    text-decoration: none;
}

.container {
    max-width: 632px;
    width: 100%;
    margin-left: 150px;
}

.container p {
    margin-bottom: 20px;
    color: #666;
}

form {
    max-width: 632px;
    width: 100%;
    display: flex;
}

form * {
    outline: none;
}

.footer {
    background-color: #f2f2f2;
    width: 100%;
    margin: 0;
    line-height: 40px;
}

.footer ul {
    margin-left: 0;
    margin-bottom: 0;
}

.google-search {
    background-color: #ffffff;
    border-radius: 1%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.google-search input {
    flex: 1;
    border: none;
    background: none;
    font: 16px arial, sans-serif;
}

h1 {
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #1a0dab;
}

h2 {
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
}

.header-site {
    padding-top: 20px;
    background-color: #fafafa;
}

.header-site .top {
    position: relative;
    display: flex;
    width: 100%;
}

.header-site .top .centered-content {
    flex: 1;
}

.header-site .top .container {
    margin-left: 0;
}

.keyboard {
    background: url("../img/keyboard.jpg");
    background-size: cover;
    border: none;
    width: 20px;
    height: 11px;
}

.line {
    border-bottom: 3px solid #1A73E8;

    font-weight: bold;
}

.line a {
    color: #1A73E8;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    margin-bottom: 22px;
    text-align: left;
}

.list li p {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 11pt;
}

.list li p a:first-child {
    color: green;
}

.list li p a {
    text-decoration: none;
}

.list span {
    line-height: 1.5;
    color: #666;
}

.list-wrap {
    display: flex;
}

.location {
    margin-left: 167px;
    display: flex;
}

.location div span {
    margin-left: 1px;
    margin-right: 0;
    font-size: 13px;
    color: #5f6368;
}

.location div a {
    text-decoration: none;
    color: #5f6368;
}

.location strong {
    color: #222;
}

.location span {
    font-size: 15px;
    margin-right: 15px;
    color: #5f6368;
}

.location div {
    border-left: 1px solid #e4e4e4;
    margin-left: 8px;
}

.location div img {
    width: 12px;
    height: 12px;
    margin: 0 3px -1px 8px;
}

.logo-wrap {
    margin: 4px 20px 0 13px;
}

.logo-wrap img {
    width: 120px;
    padding-right: 10px;
}

main {
    margin-left: 16px;
}

.menu-button {
    height: 20px;
    padding-right: 20px;
}

.next-btn span:last-child {
    margin-left: 55px;
}

.next-btn span:first-child {
    background: url(../img/nav_logo242_hr.png) -95px 1px;
    background-size: 165px;
    height: 40px;
    display: block;
    width: 70px;
    color: blue;
}

.notification-button {
    height: 23px;
    padding-right: 18px;

}

.options {
    margin-right: 248px;
}

.reference {
    border-top: 1px solid #e4e4e4;
    margin-left: 140px;
}

.reference ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.reference ul li {
    margin-bottom: 0
}

.reference ul li a {
    text-decoration: none;
    color: #5f6368;
    padding-left: 27px;
}

.right-nav {
    display: flex;
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    justify-content: space-between;
    align-items: center;
}

.right-nav .menu-button img {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    margin-top: 3px;
}

.right-nav .notification-button img {
    width: 22px;
    height: 22px;
    margin-top: -1px;
}

.search {
    background: url("../img/search.jpg");
    display: block;
    border: none;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.search-icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-icons img {
    max-width: 24px;
}

.second-tag-list {
    margin-left: 25px;
}

.search-pages {
    display: flex;
    margin: 10px auto 25px auto;
    text-align: center;
    justify-content: center;
}

.search-pages a {
    text-decoration: none;
    color: #1A73E8;
}

.search-pages ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}

.search-pages ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-pages ul li:first-child span {
    background: url(../img/nav_logo242_hr.png) -24px 1px;
    background-size: 165px;
    height: 52px;
    display: block;
    width: 29px;
    color: blue;
}

.search-pages ul li:nth-child(2) span:first-child {
    background: url(../img/nav_logo242_hr.png) -53px 1px;
    background-size: 165px;
    height: 40px;
    display: block;
    width: 20px;
    color: blue;
}

.search-pages ul li:nth-child(3) span:first-child,
.search-pages ul li:nth-child(4) span:first-child,
.search-pages ul li:nth-child(5) span:first-child,
.search-pages ul li:nth-child(6) span:first-child,
.search-pages ul li:nth-child(7) span:first-child,
.search-pages ul li:nth-child(8) span:first-child,
.search-pages ul li:nth-child(9) span:first-child,
.search-pages ul li:nth-child(10) span:first-child,
.search-pages ul li:nth-child(11) span:first-child {
    background: url(../img/nav_logo242_hr.png) -74px 1px;
    background-size: 165px;
    height: 40px;
    display: block;
    width: 20px;
    color: blue;
}

.tag-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin-top: 2px;
}

.tag-list li {
    margin-right: 5px;
    margin-bottom: -2px;
    text-decoration: none;
}

.tag-list li a {
    margin-right: 7px;
    text-decoration: none;
    color: #1a0dab;
}

.tag-list-end {
    list-style-type: none;
    padding-left: 0;

}

.tag-list-end li {
    padding-bottom: 5px;
    font-size: 16px;
}

.tag-list-end li a {
    text-decoration: none;
    color: #1a0dab;
}

.translate {
    color: #1a0dab;
}

.user-photo {
    background-size: cover;
    border: none;
    border-radius: 50%;
    display: block;
    width: 32px;
    height: 32px;
}

.voice-search {
    background: url("../img/voicesearch.jpg");
    background-size: cover;
    border: none;
    display: block;
    width: 18px;
    height: 25px;
}