<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breeze</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-left">
                <img class="pentron" src="assets/img/logo-Pentron.png" alt="Pentron">
            </div>
            <div class="header-right">
                <h1><img src="assets/img/logo-breeze.png" alt="logo"></h1>
            </div>
            <div class="header-section">
                <img class="image-header" src="assets/img/image-header.png" alt="image-header">
            </div>
        </header>
        <article>
            <p class="logo-text">
                Meet Breeze™ RMGI. Strong, versatile and ready
                for a reliable bond.
            </p>
            <p class="text">
                When you need a cement that delivers an enhanced bond with strength,
                reliability, and versatility, the new Breeze RMGI from Pentron
                will be ready for you.
            </p>
            <div class="form">
                <div class="container">
                <div class="block">
                    <h2>REQUEST SAMPLE</h2>
                    <p>1-855-748-2964</p>
                </div>
                    <p>Complete the form and we will connect with you to confirm your <br>
                        complimentary sample of Breeze RMGI.*</p>
                    <form action="#" method="get">
                        <ul>
                            <li>
                                <input class="input-short" type="text" placeholder="First Name">
                                <input class="input-short" type="text" placeholder="Last Name">
                                <input class="input-long" type="email" placeholder="Email">
                            </li>
                            <li>
                                <input class="input-long" type="text" placeholder="Practice Name">
                                <input class="input-long" type="tel" placeholder="Phone Namber">
                            </li>
                            <li>
                                <input class="input-long" type="text" placeholder="Street Address">
                                <input class="input-short" type="text" placeholder="State/Province">
                                <input class="input-short" type="text" placeholder="Coutry">
                            </li>
                            <li class="form-button">
                                <input class="input-long" type="text" placeholder="Current Cement Used (if known)">
                                <input type="submit" name="submit" value="Submit">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </article>
        <main>
            <div class="syringe">
                <div class="container">
                    <h3>Moisture-tolerant </h3>
                    <h2>Enhanced durability & strength</h2>
                    <img src="assets/img/Syringe.png" alt="Syringe">
                    <h2 class="tagline">Easy clean-up & removal </h2>
                    <h3 class="small-tagline">Continuous fluoride release</h3>
                    <button name="buttom" >Order Now</button>
                </div>
            </div>
        </main>
        <nav>
            <div class="container">
                <h3>Free Download Resource Center</h3>
                    <div class="picture">
                        <img src="assets/img/picture-breeze.png" alt="picture-breeze">
                        <img src="assets/img/picture-pentron.png" alt="picture-pentron">
                        <img src="assets/img/picture-logo.png" alt="picture-logo">
                    </div>
                    <div class="nav">
                        <a href="#">Breeze RMGI Brochure</a>
                        <a href="#">Pentron Cement Guide</a>
                        <a href="#">Instructions for Use</a>
                    </div>
            </div>
        </nav>
        <footer>
            <div class="container">
                <p>
                    *Limited time only. Offer only available to residents within the U.S. Limit one sample per office,
                    sample quantity limited to the first 1,000 recipients <br>
                    to register. Breeze™ RMGI is a trademark of Pentron Clinical. All other marks are trademarks of
                    their respective companies.
                </p>
            </div>
        </footer>
    </div>
</body>
</html>