body {
  font-family: "Roboto", Arial, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

h2 {
  color: #5a5a5a;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 1.44px;
}

li {
  list-style: none;
}

.text-weight-accent {
  font-weight: 700;
}

.text-color-accent {
  color: #0fd41b;
}

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ==============Promo-section================== */
.discription {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.54px;
}

.promo {
  background: url("../img/promo-backgr.png") #2ecc71 50% 50% no-repeat;
}

header {
  margin-bottom: 40px;
}

.logo-section h1 {
  float: left;
  font-family: "Segoe UI Black", Roboto, sans-serif;
  font-style: italic;
  color: #f4f4f4;
}

.logo-section a {
  color: #f4f4f4;
}

.menu {
  float: right;
}

.menu li {
  margin-left: 30px;
  float: left;
}

.menu a {
  padding: 5px 20px;
  float: left;
  color: #fefefe;
}

.menu a:hover {
  border-radius: 25px;
  background-color: #fff;
  color: #2ecc71;
}

.menu .active {
  border-radius: 25px;
  background-color: #fff;
  color: #2ecc71;
}

.promo-text-box {
  width: 640px;
  padding-top: 100px;
  float: left;
}

.promo-text-box p.discription {
  color: #fff;
}

.app-icon {
  width: 110px;
  position: absolute;
  top: 0;
  left: -25px;
}

.promo-text-box h2 {
  color: #f4f4f4;
  font-size: 64px;
}

.promo-img {
  float: right;
  max-width: 400px;
}

.google-play-link {
  margin-left: 20px;
}

.plant {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: -10;
}

.banana-plant-promo {
  top: -60px;
  left: 310px;
  background: url("../img/banana.png") 50% 50% no-repeat;
}

.straw-plant-promo {
  bottom: -120px;
  left: 410px;
  background: url("../img/straw.png") 50% 50% no-repeat;
}

/* ==========Calorie-counter-section============ */
.calorie-counter {
  padding-top: 65px;
  color: #5a5a5a;
  position: relative;
}

.counter-discr {
  max-width: 600px;
  box-sizing: border-box;
  left: 50%;
}

.calorie-counter img {
  max-width: 600px;
  float: left;
}

/* ============Simple-way-section=============== */
.simple-way {
  padding-top: 116px;
  background: url("../img/simple-way-backgr.png") #f9f9f9 50% 100% no-repeat;
  color: #5a5a5a;
  text-align: center;
}

.simple-way .container {
  max-width: 850px;
}

.simple-way img {
  margin-top: 116px;
}

/* ==============Manage-meal-section============ */
.manage-meal {
  padding: 90px 0;
  color: #5a5a5a;
  position: relative;
}

.manage-meal .container {
  max-width: 1200px;
}

.manage-meal-discr {
  width: 45%;
  float: left;
}

.dish {
  width: 50%;
  float: right;
}

.short-dish {
  width: 260px;
  margin: 0 auto 25px;
  padding: 20px 20px 20px 135px;
  border: 1px solid rgba(145, 145, 145, 0.3);
  box-shadow: 0 0 60px rgba(15, 65, 36, 0.05);
  border-radius: 8px;
  color: #5a5a5a;
  position: relative;
}

.time-container .time {
  font-size: 25px;
}

.short-dish {
  background: url("../img/apple-part.png") 10px 50% no-repeat;
}

.short-dish:nth-child(2) {
  background: url("../img/sandwich.png") 10px 50% no-repeat;
}

.short-dish:nth-child(3) {
  background: url("../img/salad.png") 10px 50% no-repeat;
}

.short-dish:nth-child(3) .time {
  color: #2ecc71;
}

.short-dish h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #2ecc71;
}

.short-dish p {
  margin: 10px 0;
  font-size: 12px;
}

.time-container {
  float: right;
  width: 40px;
}

.time-container .meridiem {
  font-size: 16px;
}

.time, .meridiem {
  float: right;
  color: #b4b4b4;
}

.weight, .kcal, .meridiem {
  text-transform: uppercase;
}

.wide-dish {
  width: 370px;
  padding: 35px 35px 35px 165px;
}

.wide-dish .time {
  color: #2ecc71;
  font-size: 31px;
}

.wide-dish .meridiem {
  font-size: 20px;
}

.dish-details {
  float: left;
}

/* ==================Footer===================== */
footer {
  padding: 110px 0;
  text-align: center;
  color: #fff;
  background: url("../img/footer-backgr.png") #2ecc71 50% 50% no-repeat;
}

footer .container {
  width: 800px;
}

footer h2 {
  color: #fff;
}

footer p.discription {
  color: #fff;
  margin-bottom: 40px;
}

.get-app-btn {
  padding: 5px 80px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #2ecc71;
  background-color: #fff;
}